.menu,
#box,
#gallery2_mobile,
#contact_us_mobile
{
    display: none;
}
@media screen and (max-width: 900px){
#float_block,
#float_block_blue,
#float_block_white,
#float_block_blue2,
#float_block_2,
.navigation,

.footer_three,
.follow_us,
#gallery2,
#contact_us
{
	display: none;
}
.footer_links {
    flex-direction: column;
}
.menu {
   display: block;
   position: fixed;
   top: 8px;
   right: -55px;
   z-index:1;
}
.menu img{
	width: 45%;
}
.close {
   display: block;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 50px;
    z-index:2;
}
.close img{
	width: 85%;
}
#box{
   position: fixed;
   width: 100%;
   height: 150vw;
   z-index: 2;
   background-color: rgba(146, 215, 232, 0.9);
   right: 0;
   padding: 30px;
   box-sizing: border-box;
   z-index: 20;
}
.box_li{
	text-align: center;
	padding-top: 35vw;
    opacity: 0.8;
    line-height: 10vw;
}
.box_li ul,li,a{
	font-size: 7vw;
	font-weight: 600;
}
#header{
	background-image:  url("img/background_mobile.png"); 
	height: 150vw;
}
.header {
    position: relative;
    top: 95vw;
    left: 0;
    text-align: center;
}
#header h1{
    font-size: 14vw;
}
#header h2{
	font-size: 4vw;
}
#about_us{
	background-image: none;
	background-color: white; 
	height: 120vw;
}
.text{
	padding: 5vw;
	text-align: center;
}
.white_block {
    width: 86%;
    height: 140vw;
    background-image:  url("img/background_mobile_2.png");
	background-size: 100%;
    position: relative;
    top: -10vw;
    left: 7%;
    color: #51b3cb;
    z-index: 10;
}
.white_block h3{
	padding: 0;
    margin: 0;
    font-size: 6vw;
    font-weight: 700;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    text-align: center;
}
.white_block h4{
	padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 2.5vw;
    text-transform: uppercase;
    border-bottom: none;
    width: auto;
    padding-bottom: 60vw;
    text-align: center;
}
.white_block p{
	padding: 0;
    margin: 0;
    padding-bottom: 6vw;
    font-size: 3vw;
    text-align: center;
    font-weight: 300;
	opacity: 0.8;
	line-height: 4vw;
}
.white_block li{
	margin: 0;
    color: #51b3cb;
    padding: 2vw;
    font-size: 3vw;
    font-weight: 300;
    padding-left: 0;
    font-style: italic;
    margin-left: 1vw;
    list-style-type: disc;
	list-style-position: inside;
}
#graphical_diagram{
	
	background-size: cover;
	background-repeat: no-repeat;
	height: 60vh;
	width: 100%;
    padding-top: 25vh;
	position: relative;
}
#diagram .aud .info, #graphical_diagram .aud .info {
    width:210px;
    white-space: normal;
}
 #graphical_diagram .aud {
    position: absolute;
    right: calc(50% - 60px) !important;
    top: 15% !important;
    color: #ffffff;
}
#diagram .aud .num, #graphical_diagram .aud .num, #diagram .aud .top, #graphical_diagram .aud .top {
    display: none;
}
.fe {
    top: -35%;
}
.ma {
    top: -8%;
}
#firstD .container .wrap {
    width: 75%;
   margin: auto 1% 5% auto;
}
#firstD .wrap .text p {
    font-size:0.9em;
    text-align: left;
}
#firstD .prec {
    font-size: 1.6em !important;
    text-align: left;
}
#firstD .container .wrap .numbers {
    top: -57px;
}
#firstD .container .wrap .numbers:nth-child(4){
    top: -45px;
}
#firstD .text_under .abs {
    left:-50px;
}
#firstD .gender {
    background-image: none;
}
#firstD .text_under {
    width: 75%;
    left: 27%;
    margin-bottom: 1%;
}
.ma .text{
    left: 50px
}
.fe .text {
    left: 50px;
}
#secondD .column {
    min-width: 0; 
}
#secondD .container li {
    margin: 0 0.8vw;
    padding: 0;
}
#secondD .column {
    width: 12vw;
    align-self: center;
}


#thirdD .top p, #thirdD .bottom p {
        color: #caeaf2;
}
#thirdD .middle .left p {
    color: #73d3fc;
}
#thirdD .middle .left p {
    line-height: 20px;
}
#thirdD .wrap p {
    font-size: 0.85em;
}
#thirdD .top .right p, #thirdD .bottom .right p {
    font-size: 0.85em !important;
    color: #caeaf2 !important;
    line-height: 0.85em;
}
.first_gallery li {
    font-size:3vw;
}
#diagram .aud {
    position: absolute;
    right: calc(50% - 60px) !important;
    top: 5% !important;
    color: #ffffff;
}
#diagram{
   
    background-size: cover;
    background-repeat: no-repeat;
 
    position: relative;
    height: 120vh;
    min-height: 860px;
}


#diagram .L {
    left: 48%;
    height: 40%;
}
#diagram .S {
    left: calc(50% + 56px);
    top: 64.5%;


}
#diagram .contry {
    height: 10%;
}
#diagram .contry p {
    line-height: 0;
    top: calc(50% - 0.5em);
    right: calc(100% + 10px);
}


#contact_us_mobile{
	display: block;
	background-color: white;
	height: auto;
	text-align: center;
	padding-top: 15vw;
    padding-bottom: 15vw;
}
#contact_us_mobile h1 {
    color: #4dc0dc;
    font-size: 6vw;
    font-weight: 700;
    margin-top: 5vw;
}
#contact_us_mobile h2{
	color: #4dc0dc;
    font-size: 3.5vw;
    font-weight: 400;
    margin-bottom: 5.5vw;
}
#contact_us_mobile p{
	color: grey;
    font-size: 3.5vw;
    font-weight: 400;
    opacity: 0.7;
    padding-bottom: 5vw;
}
.content_button {
    background-color: #8ad4e6;
    padding: 2vw 4vw;
    padding-left: 6vw;
    padding-right: 6vw;
    border-radius: 6vw;
    font-size: 4vw;
    color: #fff;
    border: none;
    cursor: pointer;
    width: auto;
    position: relative;
    top: 0;
}
.round_buttons_11{
	margin-top: 15vw;
}
.round_buttons_11 button{
	background-color: #8ad4e6;
    padding: 1vw;
    border-radius: 3vw;
    border: none;
    cursor: pointer;
    margin-right: 1vw;
}




#gallery{
	background-color:  white; 
	height: auto;
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
.text_block {
    display: none;
}
.round_buttons {
    position: relative;
    text-align: center;
    top: 145vw;
	padding: 5vw;
}
.round_buttons button {
    padding: 1vw;
}
.block_1,.block_2 {
    text-align: center;
    justify-content: center;
    margin-top: 0;
	padding-bottom: 80vw;
}
.block_3{
	text-align: center;
    justify-content: center;
    margin-top: 0;
	padding-bottom: 55vw;
}
.information {
    padding-top: 0;
}
.image_block {
    margin-left: 0;
	padding-top: 5vw;
}
.information {
    padding-top: 78vw;
    padding-left: 20vw;
    padding-right: 20vw;
    position: absolute;
}
.image_block img {
    width: 80%;
}
.first_gallery h1 {
    font-size: 5vw;
	padding-bottom: 3vw;
}
.first_gallery h2 {
    font-size: 3vw;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 3vw;
}
.first_gallery ul, li {
    font-size: 3vw;
    font-weight: 500;
    padding: 0.5vw;
}
.block_3 img {
    width: 100vw;
	margin-top: 0;
    padding-top: 30vw;
}
#gallery2_mobile{
	display: block;
	background-color:  white; 
	height: auto;
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
#gallery2_img_pos{
	position: relative;
	text-align: center;
	padding-top: 20px;
}
#gallery2_img_pos img{
	width: 80%;
}
.case {
    border-bottom: none;
    width: auto;
    padding-bottom: 0;
    text-transform: uppercase;
    color: #a39a8f;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 20px;
    text-align: center;
}
.info_pos {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
	padding-bottom: 15vw;
}
.info_pos img{
	width: 16%;
}
#gallery2_mobile p {
    color: grey;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 23px;
    margin-top: 4vw;
    text-align: left;
    padding-left: 22vw;
    padding-right: 4vw;
}
.round_buttons_gal2{
	position: relative;
    text-align: center;
    top: -7vw;
}
.round_buttons_gal2 button {
    background-color: #8ad4e6;
    padding: 1vw;
    border-radius: 3vw;
    border: none;
    cursor: pointer;
    margin-right: 1vw;
}
.gal2_text{}

#footer{
	height: auto;
}
.footer_two{
	text-align: center;
}
.footer_links h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
}
.footer_links p {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.footer_input_ {
    padding: 10px;
    font-size: 15px;
	height: 25px;
}
.footer_button {
    background-color: white;
    opacity: 1;
    font-size: 25px;
    color: #8ad4e6;
    border: none;
    cursor: pointer;
    width: 180px;
    height: auto;
    padding: 10px;
    margin-top: 50px;
    font-weight: 600;
	box-shadow: 0 0 30px #72c8dd;
	margin-bottom: 20vw;
}

.contact_form{
    top: 5vw;
    padding: 5vw;
    box-shadow: none;
    background-color: white;
    position: relative;
}
.contact_form table{
    font-size:4vw;
}
.new_input input{
    width:45vw;
    height:5vw;
    font-size: 4vw;
}
.contact_form table textarea{
    width: 45vw;
    height:30vw;
    font-size: 4vw;
}
.submit_input{
    background-color: #8ad4e6;
    padding: 2vw 4vw;
    border-radius: 5vw;
    font-size: 4vw;
    color: #fff;
    border: none;
    cursor: pointer;
    width: auto;
}
}